/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */
/* opdracht 1*/
.one{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/*opdracht 2*/
.two {
    display: flex;
    justify-content: space-between;
}

/*opdracht 3*/
.three{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
    display: flex;
}
li{
    margin-right: 50px;
}

/*opdracht 4*/
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*opdracht 5*/
/*.five{
    display: flex;
    flex-direction: row;
}

.article-one{
    display: flex;
    flex-direction: column;
}

.article-two{
    display: flex;
    flex-direction: column;
}

.article-three{
    display: flex;
    flex-wrap: wrap;
}*/

.five{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
article{
    flex-basis: 350px;
    flex-grow: 1;
}